* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* cores*/
    --color-one: #c12f2f;
    --color-two: #016565;
    --color-tree: #fff;
    --color-four: #d44f4f;
    --color-five: #d44f4f;
    --color-six: #982525;
    --color-seven: #029797;
}

/*cabeçalho*/

header {
    display: flex;
    justify-content: space-between;
    /* Coloca o logotipo à esquerda e o menu à direita */
    align-items: center;
    /* Centraliza verticalmente */
    margin: 0 auto;
    /* Centraliza horizontalmente */
    padding: 0 20px;
    /* Espaçamento interno nas laterais */
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -5px;
}

nav {
    flex: 1;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: var(--color-seven);
    font-size: 20px;
    margin-left: 20px;
}

/*rodape*/

footer {
    background-color: #fff;
    /* Cor de fundo do footer */
    text-align: center;
    /* Centraliza o conteúdo horizontalmente */
    padding: 20px 0;
    /* Espaçamento interno no topo e na parte inferior */
    box-shadow: rgba(33, 35, 38, 0.1) 0px -10px 10px -5px;
    /* Aplica o mesmo efeito de sombra na parte superior do footer */
}

/*divisao com todo o conteudo da pagina*/

.container {
    max-width: 70%;
    /*Deixa todo o conteudo da pagina com um espaço de 70% de largura*/
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
}

/*imagens da pagina*/
#logo {
    flex: 1;
    text-align: left;
}

#logo_header {
    height: 90px;
    width: auto;
}

#img_card {
    width: 100%;
    height: 270px;
    border-radius: 6px;
}

/*espaço do card para se cadastrar no site*/

#fundoCard {
    width: 100%;
    /* Define a largura da div para ocupar toda a largura da página */
    height: auto;
    /* Define a altura da div para ocupar toda a altura da janela do navegador */
    display: flex;
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    padding: 25px 0;
}

#card {
    position: relative;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--color-tree);
}

.title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.card-data {
    padding: 20px;
    font-size: 14px;
}

button {
    width: 100%;
    margin-top: 15px;
    background-color: rgb(230, 167, 177);

    background-size: 200% 200%;
    border: none;
    padding: 8px 10px;
    color: var(--color-tree);
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}