* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{

    /* cores*/
    --color-one: #BC5966;
    --color-two: #DFD899;
    --color-tree: #F7F5D6;
    --color-four: #C8C2B2;
    --color-five: #744855;
    --color-six: #7AC3B7;
    --color-seven: #286A6E;
    --color-eight: #E4764F;
    --color-nine: #F7F7F8;

    /*fontes*/ 
    --font-famyly: "Andale Mono", monospace;
}

.bloco{

    background-color: #59c3c3;

    height: 550px;
    width: 790px;
    border-radius: 15px;

    margin: 40px auto 40px auto;

    display: grid;

    
    justify-content: center;
    align-content: center;

    gap: 10px;

}

#formulario_bloco{
    background-color: white;
    width: max-content;
    margin-bottom: 30px;
    border-radius: 15px;
}

form{
    display: grid;
    padding: 20px 20px 20px 20px;
    width: 660px;
}

textarea{
    resize: none;
    border-color: #C8C8C8;
    border-width: thin;
    border-style: solid;
    border-radius: 20px;

    padding: 6px;

    font-family: monospace;

    height: 100px;

    margin: 5px 0px 0px 0px;
}

p{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;

    text-align: justify;

    color: #4062bb;

    padding-top: 30px;
    padding-left: 20px;
}

label{
    color: #969696;

    font-family: sans-serif;
    text-align: justify;

}

input, select{
    border-color: #C8C8C8;
    border-width: thin;
    border-style: solid;
    border-radius: 20px;

    padding: 6px;

    font-family: monospace;

    height: 30px;

    margin: 5px 0px 10px 0px;

    box-shadow: rgba(50, 50, 93, 0.25) 1px 12px 5px -12px inset;
}

#numero{
    display: flex;
    flex-direction: row;
    gap: -8vh;
}

#ddd{
    width: 35px;
    margin: 5px 5px 0px 5px;
    text-align: center;
}

#tel_cliente{
    width: 100px;
    text-align: center;
}

#btn{
    background-color: #80a4ed;

    color: white;

    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;

    width: auto;
    height: 29px;

    border-radius: 30px;
    border: none;

    margin-top: 10px;

    cursor: pointer;
}

